---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-white whitespace-nowrap"
>
  <img
    class="inline-block h-8 md:h-6 mr-2 rtl:mr-0 rtl:ml-2"
    src="https://static.wixstatic.com/media/241554_efc6e546f6124e16b34f732e624206eb~mv2.png/v1/fill/w_500,h_120,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/logo.png"
    alt={SITE?.name}
  />
  <!--
  <Icon name="tabler:brand-wix" class="inline-block h-8 md:h-6 mr-2 rtl:mr-0 rtl:ml-2" />
  -->
</span>
